venv/
dist/
**/.idea/
__pycache__/
employees.json
.env
db.sqlite3
Тестовое задание на позицию Junior Python Developer.pdf


*.log
*.whl
*.gz
*.pyc
*.iml
*.ipynb
/staticfiles/
.idea/*.iml
coverage.xml


