{% load static %}

<nav class="navbar navbar-expand-md bg-light sticky-top border-bottom" data-bs-theme="light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">Aperture</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav flex-grow-1 justify-content-between align-items-center">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home_page' %}">
              <img src="{% static 'employee_tree/icons/employee_logo.svg' %}" width="84" height="84" alt="Aperture">
            </a>
          </li>
          <li class="nav-item"><a class="nav-link" href="{% url 'home_page' %}">Главная</a></li>
          {% if user.is_authenticated %}

          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="nav-link" style="border: none; background: none; text-decoration: none;">Выход</button>
          </form>

          <li class="nav-item"><a class="nav-link" href="{% url 'employee_list' %}">Подробный список сотрудников</a></li>
          {% else %}
           <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Вход</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>