{% block content %}
<nav id="pagination">
    <ul class="pagination justify-content-center">
        {% if employees.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ employees.previous_page_number }}">&lt;</a>
            </li>
        {% endif %}

        {% if employees.number > 3 %}
            <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
            <li class="page-item disabled"><a class="page-link">...</a></li>
        {% endif %}

        {% for i in employees.paginator.page_range %}
            {% if i >= employees.number|add:"-2" and i <= employees.number|add:"2" %}
                {% if employees.number == i %}
                    <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if employees.number < employees.paginator.num_pages|add:"-2" %}
            <li class="page-item disabled"><a class="page-link">...</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ employees.paginator.num_pages }}">{{ employees.paginator.num_pages }}</a></li>
        {% endif %}

        {% if employees.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ employees.next_page_number }}">&gt;</a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}