{% extends "layouts/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Иерархия сотрудников</h2>
    <div id="employee-tree">
        <ul>
            {% for employee in employees %}
                <li>
                    <details data-employee-id="{{ employee.id }}">
                        <summary><strong>{{ employee.position }}: {{ employee.name }}</strong></summary>
                        <ul>
                            {% for sub_employee in employees %}
                                {% if sub_employee.manager_id == employee.id %}
                                    <li>
                                        <details data-employee-id="{{ sub_employee.id }}">
                                            <summary><strong>{{ sub_employee.position }}: {{ sub_employee.name }}</strong></summary>
                                            <ul></ul> <!-- Пустой список для AJAX -->
                                        </details>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </details>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
