{% extends "layouts/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Иерархия сотрудников</h2>
    <div id="employee-tree" class="employee-tree">
        <ul class="level-0">
            {% for employee in employees %}
                <li>
                    <details data-employee-id="{{ employee.id }}">
                        <summary><strong>{{ employee.position }}: {{ employee.name }}</strong></summary>
                        <ul></ul> <!-- Пустой список для AJAX -->
                    </details>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
